# Redirigir todas las solicitudes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

# Evitar que se listen los archivos de un directorio
Options -Indexes

# Proteger archivos específicos (opcional)
<FilesMatch "\.(htaccess|env)$">
    Order Allow,Deny
    Deny from All
</FilesMatch>

# Reglas para la API de verificación de usuarios
RewriteRule ^verificar-usuario$ api.php [L]